body {
    width:100%;
    font-size: 1.2em;
    margin:2em;
}
#wrapper {
    width:100%;
}
input[type=text] {
    width:10em;
}
span.strong {
    font-weight: bold;
}
span.delete {
    text-decoration:line-through;
}
div.description {
    margin:2em;
}
div.description span {
    font-size: 1.5em;
}
div.params-table table thead {
    font-size: 1.5em;
    font-weight: bold;
}
#functionbody div.container {
    width: 100%;
}
#mainbody div.container {
    width: 100%;
}
