<!DOCTYPE html>
<html>
<meta charset="utf-8">
<header>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</header>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>FunctionList</h1>
            <hr>
        </div>
        <div id="mainbody" v-show="show" style="display:none;">
            <ul  id="contents">list
                <li v-for="(content, index) in contents">{{ content.name}}
                    <function-button :path="content.path" :functionname="content.function"></function-button>
                </li>
            </ul>
        </div>
        <div id="functionbody" v-show="show" style="display:none;">
            <h2>{{ functionName }}</h2>
            <div class="params-table">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <td v-for="paramHeader in paramHeaders">{{ paramHeader }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="params in requestParams" class="row-request success">
                            <td v-for="(col, index) in params">{{ col }}</td>
                        </tr>
                        <tr v-for="params in resuponseParams" class="row-response info">
                            <td v-for="(col, index) in params">{{ col }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="description">
                <span v-for="description in descriptions">{{ description }}<br></span>
            </div>
            <div>
                <button type="button" class="back">back</button>
                <div id="content-body">
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.2.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/common.js"></script>
    <script>
    /**
     * 関数ボタン　コンポーネント登録
     */
    var functionButton = Vue.extend({
        props : ['path', 'functionname'],
        template : '<button type="button" class="btn btn-default" @click="echo">{{ functionname }}</button>',
        methods : {
            echo : function(){
                var csv = convertCsvToObject(execSyncAjax(this.path));
                if (csv) {
                    // 書き換え処理
                    functionBody.paramHeaders = getParamHeaderContents(csv[0]);
                    functionData = getFunctionDetail(csv);
                    functionBody.requestParams = functionData[REQUEST_TYPE_NAME];
                    functionBody.resuponseParams = functionData[RESPONSE_TYPE_NAME];
                    functionBody.functionName = functionData[TITLE_TYPE_NAME];
                    functionBody.descriptions = functionData[DESCRIPTION_TYPE_NAME];
                    functionBody.show = !functionBody.show;
                    contents.show = !contents.show;
                }
            }
        }
    });
    /**
     * 関数詳細　Vueオブジェクト
     */
    var functionBody = new Vue({
        el : '#functionbody',
        data : {
            paramHeaders : [],
            resuponseParams : [],
            requestParams : [],
            descriptions : [],
            show : false,
            functionName : 'not yet'
        }
    });
    /**
     * 本体リスト　Vueオブジェクト
     */
    var contents = new Vue({
        el : '#mainbody',
        data : {
            contents : '',
            show : true
        },
        created : function(){
            csvData = execSyncAjax('csv/functions.csv')
            this.contents = convertCsvToObject(csvData);
        },
        components : {
            'function-button' : functionButton
        }
    })
    $("button.back").on("click", function(){
        functionBody.show = !functionBody.show;
        contents.show = !contents.show;
    });
    </script>
</body>
</html>
